<div style="padding: 80px">
    <div *ngIf="trips.length>0">
        <div *ngFor='let trip of trips; let i = index' class="row">
            <br>
            <div class="col-md-4 block">
                <input (change)='validate()' id="input{{i}}" [(ngModel)]="trip.start" class="form-control"
                    placeholder="start" style="width: 300px" type="text" />
                &nbsp;{{id}}
            </div>
            <div class="col-md-4 block">
                <input [(ngModel)]="trip.end" class="form-control" placeholder="end" style="width: 300px" type="text" />
            </div>
            <div class="col-md-1 btns">
                <button (click)='add()' class="btn btn-primary">+</button>
            </div>
            <div class="col-md-1">
                <button (click)='remove(i)' class="btn btn-danger">-</button>
            </div>
        </div>
    </div>
    <button (click)='submit()' class="btn btn-primary">Submit</button>

    <br><br><br><br>
    <canvas #canvas width="1000" height="200"></canvas>

</div>